#navbar {
  display: flex;
  background: #00222b;
  border-bottom: 5px solid #fd8000;
  height: 6rem;
  width: 100%;
  padding: 1rem 2rem;
}

.navbar a {
  color: #f0e4e4;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 2rem 3rem;
}

.navbar-nav {
  color: #f0e4e4;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 2rem 2rem;
}

.navbar a:hover,
a:active,
a:focus {
  color: #ff718a;
}

.nav-logo {
  width: 4.5rem;
  overflow: hidden;
}

.nav-link {
  text-align: right;
  margin-right: 1rem;
}

.me-auto {
  color: #00222b;
}
