.navbar {
  position: absolute;
  background: #04034f;
  border-bottom: 4px solid #dbeb00;
  height: 5rem;
  width: 100%;
  text-align: right;
  bottom: 9rem;
  display: flex;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .navbar a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
} */
