/**************************/
/* BELOW 1882px
/**************************/
@media (max-width: 118em) {
  .rightSide-socials {
    bottom: -275rem;
  }
}

/**************************/
/* BELOW 14872px (Smaller desktops) */
/**************************/

@media (max-width: 92em) {
  .hero-section {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .hero-info {
    font-size: 1.8rem;
  }

  .rightSide-socials {
    bottom: -272rem;
  }
}

/**************************/
/* BELOW 1280px (Landscape Tablets) */
/**************************/

@media (max-width: 80em) {
  html {
    font-size: 75%;
  }
  .rightSide-socials {
    bottom: -260rem;
    display: flex;
    flex-direction: row;
  }
  ion-icon {
    font-size: 32px;
  }
  .individual-social {
    width: 3.3rem;
  }
}

/**************************/
/* BELOW 1016px (Tablets) */
/**************************/

@media (max-width: 63.5em) {
  html {
    font-size: 70%;
  }
  .rightSide-socials {
    bottom: -262rem;
    padding: 2rem;
  }
  .individual-social {
    width: 3rem;
  }
  ion-icon {
    font-size: 26px;
  }
  .project-row {
    grid-gap: 4rem;
    grid-template-columns: 1.5fr 1fr;
  }
  .projects-content {
    padding: 0;
  }
}

/**************************/
/* BELOW 992px */
/**************************/
@media (max-width: 62em) {
  .rightSide-socials {
    bottom: -248.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
  }
  ion-icon {
    font-size: 32px;
  }
  .individual-social {
    width: 3.3rem;
  }
}

/**************************/
/* BELOW 864px (Smaller tablets) */
/**************************/

@media (max-width: 54em) {
  html {
    font-size: 60%;
  }
  .individual-social {
    width: 2.5rem;
    margin-right: 1.8rem;
  }
  .rightSide-socials {
    bottom: -208rem;
    padding: 1.5rem;
  }
  ion-icon {
    font-size: 25px;
  }
  .project-row {
    grid-gap: 3.5rem;
    grid-template-columns: 1.5r 1fr;
  }
}

/**************************/
/* BELOW 768x */
/**************************/

@media (max-width: 48em) {
  html {
    font-size: 60%;
  }
  .individual-social {
    width: 2.5rem;
    margin-right: 1.8rem;
  }
  .rightSide-socials {
    bottom: -200rem;
    padding: 0.8rem;
  }
  ion-icon {
    font-size: 25px;
  }
  .project-row {
    grid-gap: 3.5rem;
    grid-template-columns: 1.5fr 1.2fr;
  }
  .project-description {
    font-size: 1rem;
  }
  #project-custom {
    width: 90%;
    padding-top: 2.5rem;
  }
}

/**************************/
/* BELOW 576px (Large) */
/**************************/
@media (max-width: 36em) {
  html {
    font-size: 60%;
  }
  .nav-logo {
    width: 2.8rem;
  }
  #about-text {
    padding: 0 2rem 0 2rem;
  }
  .individual-social {
    width: 1.2rem;
    margin-right: 1rem;
  }

  .rightSide-socials {
    bottom: -236rem;
  }
  #project-custom {
    width: 100%;
    padding-top: 0.5rem;
  }
  ion-icon {
    font-size: 15px;
  }
}

/**************************/
/* BELOW 416px (Smaller Screens) */
/**************************/
@media (max-width: 26em) {
  html {
    font-size: 60%;
  }
  .hero-content {
    width: 92%;
  }

  #about-text {
    padding: 0 1.2rem 0 1.2rem;
  }

  .rightSide-socials {
    bottom: -270rem;
  }

  .project-row {
    grid-template-columns: 1.2fr;
    grid-gap: 2.5rem;
    margin-bottom: 8rem;
  }
  #project-custom {
    width: 90%;
    padding-left: 4rem;
  }
  .projects-content {
    padding: 0 1.2rem 0 1.2rem;
  }

  .project-title {
    margin-bottom: 1.5rem;
  }
  .project-description {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .btn,
  .button {
    border-radius: 20px;
    padding: 1rem;
    width: 40%;
    margin: auto;
  }

  .skill-specific {
    border-radius: 15px;
    padding: 1rem 1.5rem;
    margin: 0 1rem 1rem 0;
  }
}

/**************************/
/* BELOW 336px */
/**************************/
@media (max-width: 21em) {
  .rightSide-socials {
    bottom: -278rem;
  }
}
