* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #040248;
  color: rgb(240, 240, 240);
}

/* BANNER */
.banner-custom {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 100;
}
