/* COLOR PALETTE
#f0e4e4 
#140808
#00222b
#01bce175;
#02c0ec
#ff718a
#be2eaa
#fd8000
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif, "Playfair Display", "Roboto";
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #f1f0f5;
  color: #140808;
  line-height: 1.5;
}

/* HERO SECTION */
.hero-section {
  position: relative;
  text-align: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 90rem; */
  width: 92%;
}

.heading-primary {
  text-transform: uppercase;
  font-size: 5.5rem;
  letter-spacing: 0.2rem;
  color: #f0e4e4;
  text-align: center;
  font-family: "Secular One";
}

.hero-info {
  color: #f0e4e4;
  margin: 2rem auto 0 auto;
  font-size: 2.2rem;
  text-align: center;
  background-color: #01bce175;
  letter-spacing: 2px;
}

#banner-custom {
  height: 50rem;
  width: 100vw;
  z-index: 99;
}
/* ABOUT ME */
.section-title {
  display: block;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 4rem;
  color: #00222b;
  font-weight: 800;
  letter-spacing: 3px;
  font-family: "Source Sans Pro";
  text-align: center;
}

.line-under {
  width: 8%;
  height: 8px;
  border-radius: 1rem;
  background: #02c0ec;
  margin-left: 46%;
  margin-bottom: 50px;
}

.logo-custom {
  float: left;
  width: 25rem;
}

#about-text {
  font-family: "Roboto";
  font-size: 1.3rem;
  line-height: 1.4;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skill-specific {
  padding: 1rem 2rem;
  margin: 0 1.5rem 1.5rem 0;
  font-size: 1.3rem;
  background: #ff718a;
  border-radius: 1.2rem;
  font-weight: 500;
  color: #f0e4e4;
}

/* PROJECTS */
#project-text {
  margin-bottom: 5rem;
}
/* CONTACT */

.contact-title {
  color: #f0e4e4;
}
.contact-section {
  padding: 2rem;
  background-color: #00222b;
  text-align: center;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subhead-contact {
  color: #02c0ec;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.inputs {
  border: none;
  padding: 1rem 1.2rem;
  background: #fd8000;
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 8px;
}

.message {
  min-height: 15rem;
}

form ::placeholder {
  color: #f0e4e4;
  font-weight: 500;
  font-size: 1.2rem;
}

.button {
  width: 10rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.4rem;
  color: #f0e4e4;
  background-color: #ff718a;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

/* FOOTER */
